---
layout: default
title: Learn from the top people in the Bitcoin world
toc: 
  back: Dr. Adam Back
  companies: Companies
  ind: Individuals
---
{% include page-toc.html %}
<h2>The Who's Who In Bitcoin</h2>
<p>The Bitcoin industry has grown tremendously since Bitcoin was released to the public in January 2009. Over <a href="/en/venture-capital-investments-in-bitcoin-and-blockchain-companies/">$1B of investment into Bitcoin and blockchain companies</a> has taken place resulting in thousands of companies and hundreds of thousands of individuals involved from around the world.
<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<h3 id="back">A Week With Dr. Adam Back</h3>
<img src="/images/adam-back.png" alt="Dr. Adam Back" align="right">
<p><a href="/dr-adam-back/">Dr. Adam Back</a> is the premier expert in the world on blockchain technology and is currently pioneering the sidechains project for the core Bitcoin protocol.
<p>He has worked on e-cash protocols since 1995 as an applied cryptographer and is cited in both the TOR whitepaper and Bitcoin whitepaper by Satoshi Nakamoto and is the inventor of the Hashcash proof-of-work which is used for the decentralized mining used for Bitcoin security.
<p>He was an architect and cryptographer at Zero-Knowledge Systems working on its Freedom network, a precursor to Tor. Most recently, Adam co-founded Picorp which was acquired by EMC.
<p>He holds a Ph.D. in distributed systems and computer science from the University of Exeter.
<ul>
<li><a href="/adam-back-cypherpunks/">A Week With Adam Back - Part 1</a> - Why is Dr. Back so legendary?</li>
<li><a href="/adam-back-bitcoin-core-developers/">A Week With Adam Back - Part 2</a> - Who are the top Bitcoin developers?</li>
<li><a href="/adam-back-confidential-transactions/">A Week With Adam Back - Part 3</a> - Confidential Transactions</li>
<li><a href="/adam-back-lightning-network/">A Week With Adam Back - Part 4</a> - Lightning Network</li>
<li><a href="/adam-back-sidechains/">A Week With Adam Back - Part 5</a> - Sidechains</li>
</ul>


<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<h2 id="companies">Companies</h2>

<h3>Bitcoin Core</h3>

<p><a href="/bitcoin-core/">Bitcoin Core</a>--formerly Bitcoin-Qt--is a Bitcoin codebase based on the original code and framework published by Satoshi Nakamoto. Bitcoin Core is currently run by more than 70% of Bitcoin nodes and all miners, making it the most widely used Bitcoin client. Note that Bitcoin Core is not a company.</p>

<div class="similar-people-wrap">
{% for person in site.people %}
{% if person.affiliations contains 'Bitcoin Core' %}
{% include similar-people.html %}
{% endif %}
{% endfor %}
</div>

<h3>Blockstream</h3>

<p><a href="/blockstream/">Blockstream</a> is one of the most-well funded Bitcoin companies, with $76 million in venture capital thanks to its latest $55 million funding round. Its core purpose is to improve Bitcoin's utility with sidechains.</p>

<div class="similar-people-wrap">
{% for person in site.people %}
{% if person.affiliations contains 'Blockstream' %}
{% include similar-people.html %}
{% endif %}
{% endfor %}
</div>

<h3>Armory</h3>

<p><a href="/armory/">Armory</a> builds enterprise grade Bitcoin security software solutions and provides Bitcoin security consulting services to institutions for deploying a Bitcoin security plan.</p>

<div class="similar-people-wrap">
{% for person in site.people %}
{% if person.affiliations contains 'Armory' %}
{% include similar-people.html %}
{% endif %}
{% endfor %}
</div>

<h3>Coinbase</h3>

<p><a href="/coinbase-review/">Coinbase</a> aims to be the easiest way to get started with Bitcoin. Users can easily buy & sell bitcoins, or accept bitcoin as a merchant. </p>

<div class="similar-people-wrap">
{% for person in site.people %}
{% if person.affiliations contains 'Coinbase' %}
{% include similar-people.html %}
{% endif %}
{% endfor %}
</div>

<h3>Ledger</h3>

<p><a href="/ledger/">Ledger</a> is a Bitcoin security company known for its Bitcoin hardware wallets.</p>

<div class="similar-people-wrap">
{% for person in site.people %}
{% if person.affiliations contains 'Ledger' %}
{% include similar-people.html %}
{% endif %}
{% endfor %}
</div>

<h3>OpenBazaar</h3>

<p><a href="/openbazaar/">OpenBazaar</a> is a Bitcoin-only, decentralized online marketplace. It is currently developed by OB1.</p>

<div class="similar-people-wrap">
{% for person in site.people %}
{% if person.affiliations contains 'OpenBazaar' %}
{% include similar-people.html %}
{% endif %}
{% endfor %}
</div>

<h3>More Bitcoin Companies</h3>

<div class="company-wrap">
{% for company in site.companies %}
{% if company.cats contains 'featured' %}
<h3><a href="{{ company.url }}"><img src="{{ company.img }}"><div class="company-title-ww">{{ company.title }}</div></a></h3>
{% endif %}
{% endfor %}
</div>


<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<h2 id="ind">Individuals</h2>

You don't need to work for a company to contribute in the Bitcoin space. Meet more of the names and faces who are involved with Bitcoin.

<h3></h3>

<div class="similar-people-wrap">
{% for person in site.people %}
{% if person.cats contains 'featured' %}
{% include similar-people.html %}
{% endif %}
{% endfor %}
</div>

<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<p>Is your favorite company not included? Are you a player on the Bitcoin field and want to be included? Please <a href="https://github.com/sunnankar/wuc-new/blob/gh-pages/README.md">submit a pull request</a>!
