<div class="company-list">
	<h3>
		{% if img != null %}
			<img src="/images/company/{{ img }}">
		{% endif %}
		{% if url != null %}<a href="{{ url }}">{{ company }}</a>{% else %}{{ company }}{% endif %}: ${{ roundsize }} million - {{ round }}</h3>
	<h4>
		{{ date }} | {{ classification }}
	</h4>
	{% if description != null %}<p><b>Description:</b> {{ description }}</p>{% endif %}
	<p><b>Investors:</b> {{ investors }}</p>
	<p><b>Headquartered:</b> {{ headquartered }}</p>
	<p><b>Country:</b> {{ country }}</p>
</div>
