<h2>Bitcoin Mining Hardware Comparison</h2>
<p>Currently, based on <b>(1)</b> price per hash and <b>(2)</b> electrical efficiency the best Bitcoin miner options are:

<div class="hardware-comparison">
  <div>
    <h3>AntRouter R1</h3>
    <a href="http://geni.us/bitmainantrouterr1">
      <img src="/images/bitcoin-miner-antrouter-r1.jpg" alt="AntRouter R1 Bitcoin Miner">
    </a>
    <ul>
      <li class="capacity">5.5 Gh/s</li>
      <li class="power">50W</li>
      <li class="weight">1.0 pounds</li>
      <li class="guide"><a href="/antminer-s3-bitcoin-miner-setup/">Yes</a></li>
      <li class="buyfrom">
        <a href="http://geni.us/tablehf">
          <img border="0" alt="Buy Antrouter R1 bitcoin miner" src="/images/buy-from-amazon.png" width="120" height="28">
        </a>
      </li>
      <li class="approx">0.00001058</li>
    </ul>
  </div>
  <div>
    <h3>Antminer S9</h3>
    <a href="http://geni.us/antminers9search">
      <img src="/images/bitcoin-miner-antminer-s9.jpg" alt="Antminer S9 Bitcoin Miner">
    </a>
    <ul>
      <li class="capacity">13.5 Th/s</li>
      <li class="power">0.1 J/GH</li>
      <li class="weight">16 pounds</li>
      <li class="guide"><a href="/antminer-s3-bitcoin-miner-setup/">Yes</a></li>
      <li class="buyfrom">
        <a href="http://geni.us/tablehf">
          <img border="0" alt="Buy Antminer S9 bitcoin miner" src="/images/buy-from-amazon.png" width="120" height="28">
        </a>
      </li>
      <li class="approx">0.3603</li>
    </ul>
  </div>
  <div>
    <h3>BPMC Red Fury USB</h3>
    <a href="http://geni.us/gekkoscienceusb">
      <img src="/images/bitcoin-miner-bitfury-usb.jpg"
      alt="BPMC Red Fury USB Miner">
    </a>
    <ul>
      <li class="capacity">2.5 GH/s</li>
      <li class="power">1.00 W/GH</li>
      <li class="weight">1.6 ounces</li>
      <li class="guide"><a href="/usb-bitcoin-miner-setup-guide/">Yes</a></li>
      <li class="buyfrom">
        <a href="http://geni.us/tablehf">
          <img border="0" alt="Buy Bitfury bitcoin miner" src="/images/buy-from-amazon.png" width="120" height="28">
        </a>
      </li>
      <li class="approx">0.00006672</li>
  </div>
</div>
