<div class="wallet-list">
<h3>{% if wallet.img %}<img class="wallet-logo" src="/images/{{ wallet.img }}.png">{% endif %}{{ wallet.wallet }} <span class="wallet-link">{% if wallet.download != null %}<a href="{{ wallet.download }}">Download</a>{% elsif wallet.buy != null %}<a href="{{ wallet.buy }}">Buy</a>{% elsif wallet.create != null %}<a href="{{ wallet.create }}">Create</a>{% else %} {% endif %}</span></h3>
<p>{{ wallet.description }}</p>

{% if wallet.img-large %}
<img alt="{{ wallet.wallet }}" class="img-large" src="{{ wallet.img-large }}">
{% endif %}
</div>
