nav.footer,
nav.languages {
  display: block;
  margin: 10px;

  a {
    border-right: 1px solid $gray;
    display: inline-block;
    margin: 0;
    margin-left: -5px;
    padding: 0 10px;

    &:last-of-type {
      border-right: 0;
    }
  }
}
