---
layout: default
description : Bitcoin has tremendously outperformed gold.
title: Bitcoin Price
toc:
  20092012: 2009-2012 - The Early Days
  2013: 2013 - The Insane Bitcoin Price
  2014: 2014 - The Long Grind
  2015: 2015 - Continued Building
  conclusion: Conclusion
charts:
  - priceUSD
---


<h1><b>Bitcoin Price</b> | Bitcoin Value</h1>
<p>The Bitcoin price has been highly unpredictable but has proven to be one of the best speculations ever with multiple years having returns in excess of 5,000% each.

{% include widget_price.html %}

{% include page-toc.html %}

<h3 id="20092012">2009-2012 - The Early Days</h3>
<p>When Satoshi released the software in January 2009 there was no Bitcoin price because there was no Bitcoin value since it could not be used for anything. As found in <a href="/book-of-satoshi-review/">The Book of Satoshi</a> on <a href="http://geni.us/bookofsatoshi">Aug. 27, 2010</a> he proposed:
<p>
<i>As a thought experiment, imagine there was a base metal as scarce as gold but with the following properties:
<p>
<ul>
  <li>boring grey in colour</li>
  <li>not a good conductor of electricity</li>
  <li>not particularly strong, but not ductile or easily malleable either</li>
  <li>not useful for any practical or ornamental purpose and one special, magical property:</li>
  <li>can be transported over a <a href="https://en.wikipedia.org/wiki/Channel_(communications)">communications channel</a>
</ul>
<p></p>
<p>If it somehow acquired any value at all for whatever reason, then anyone wanting to transfer wealth over a long distance could buy some, transmit it, and have the recipient <a href="/how-to-sell-bitcoins/">sell it</a>.
<p>Maybe it could get an initial value circularly as you’ve suggested, by people foreseeing its potential usefulness for exchange. (I would definitely want some) Maybe collectors, any random reason could spark it.</i></p>
<p>
<p>After a couple years the value of Bitcoin increased as bitcoins traded for about $0.30 on January 1, 2011, went to $31.50 about six months later and ended the year at $4.25. 2012 proved to be a less volatile year with the Bitcoin price staying under $15.
<h3 id="2013">2013 - The Insane Bitcoin Price | Bitcoin's Value Increases</h3>
<p>But 2013 is a year to remember in Bitcoin since the Bitcoin value increased with use cases and innovation. The Bitcoin price started January around $13.25, hit $266 in April, crashed to $50 a week later, consolidated for about six months and then after the United States Senate hearings on Bitcoin launched to the moon and briefly reached $1,240 before ending the year at around $800.
<h3 id="2014">2014 - The Long Grind</h3>
<p>2014 saw this downtrend and consolidation continue with the Bitcoin price and ended around $325. This was primarily a year of making Bitcoin easier to use with infrastructure being built with more than $300 million of venture capital investment being announced to build out Bitcoin value and usefulness. Additionally, there appeared to be a bubble with mining equipment that got corrected.
<h3 id="2015">2015 - Continued Building</h3>
<p>2015 has seen a fairly stable Bitcoin price but what is really exciting is that in the first quarter over $175 million of venture capital investment was announced. Just like the Internet's value in 1994 was difficult to use and required substantial venture capital investment to be made useful so likewise is the Bitcoin value, usefulness and utility currently being built out.
<h3 id="conclusion">Conclusion</h3>
<p>The lesson may be to never invest more than you are willing to lose. The Bitcoin price is highly volatile, may not be related to the underlying Bitcoin value and the highly promising blockchain technology that for the first time in history enables distributed consensus, triple-entry bookkeeping and programmable trust by being able to transfer value over a communications channel is still being proven.
<p></p>
<p>However, it may be wise to take Satoshi's advice to buy Bitcoin, even just a little, just in case it becomes something of extreme usefulness. Plus, developing the technical literacy to do so is valuable. There was a time when everyone had to learn how to send an email.
<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<center><img src="/images/bitcoin-price-rollercoaster.png" alt="bitcoin-price-rollercoaster"></center>
<a href="/images/bitcoin-price-rollercoaster-high-resolution.png" target="_blank">Visualize and Download High-Resolution Infographic</a></center>
<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<center><img src="/images/potential-bitcoin-prices.jpg" alt="bitcoin-price-rollercoaster"></center>
<hr style="width: 100%; margin: 20px 0; color: #eee;" />

  <h2>Understanding and Predicting Changes in Bitcoin Price</h2>

<p>Bitcoin is digital currency, so it's subject to go up or down in value just like any other currency. Read on to learn how you can predict Bitcoin price changes.</p>

<p>Who hasn't heard about Bitcoin?</p>

<p>Early in March of 2017, the so-called "crypto-currency" was <a href="/what-is-an-application-coin/">more valuable than gold in the world markets</a>.</p>

<p>Except for 2014, <a href="/popular-cryptocurrency-videos/">Bitcoin has been the top-performing currency</a> every year since 2010.</p>

<p>With huge value, major investors, and global economic turbulence many newcomers are wondering how they can get in on the action. </p>

<p>And, as some longtime Bitcoin users watch they wonder exactly what market trends and global activities could impact Bitcoin price. </p>

<p>Whether you're just getting started or have a fat Bitcoin wallet you're hoping will increase in value, we've put together a list of items to help you understand and predict Bitcoin price. </p>

<p>Ready to make a bundle in the hottest currency in the world? We'll tell you what to watch out for. </p>

<p>Master this list and you might just get rich.</p>

<p>Let's go:</p>

<h2>Software, Hardware & Apps</h2>

<p>Since the fixed supply of Bitcoin impacts price, how does somebody get to the supply? </p>

<p>As Bitcoin is a network currency tools are required for earning, possessing, trading, and mining the currency. For example, <a href="/ultimate-guide-to-pivx/">software for Bitcoin</a> includes Bitcoin wallets, mining pool programs, review apps, and cloud computing options for trading.</p>

<p>In addition, many providers offer hardware products for Bitcoin mining. </p>

<p>While each of these tools can be helpful in Bitcoin investing, the tools themselves can impact price fluctuations.   </p>

<p>Ease of access for more users means more trading. And more trading likely results in a smaller supply. </p>

<p>With the development, adoption, and approval of tools, there is likely to be an increase in Bitcoin price.</p>

<p>The more people who are comfortable using and exchanging Bitcoin, the higher the price.</p>

<p>Conversely, if people are uncomfortable or intimidated by the tools trading can decline.</p>

<h2>Major Investors</h2>

<p>Just as average users become comfortable trading Bitcoin through the many tools available can cause prices to increase, so can the involvement of major investors.</p>

<p>And many large companies, venture capitalists, and financial institutions are investing large amounts of money in Bitcoin and Bitcoin technology.</p>

<p>Due to the international expansion possibilities, and fraud protection, both the currency and the technology behind it is deemed as highly valuable by major investors. </p>

<p><a href="/anonymous-cryptocurrency-dash-pivx-monero/">Over $1 billion dollars</a> have been invested in Bitcoin. </p>

<p>Major investors include:</p>

<ul>
<li>American Express</li>
<li>Bain Capital</li>
<li>Deloitte</li>
<li>Goldman Sachs</li>
<li>MasterCard</li>
<li>The New York Life Insurance Company</li>
<li>The New York Stock Exchange</li>
</ul>

<p>As more large companies, financial institutions and venture capitalists invest, the value of Bitcoin, or Bitcoin technology, will likely rise.</p>

<h2>Bitcoin ETFs</h2>

<p>Because there are so many major investments in Bitcoin and Bitcoin technology there are efforts underway to create ETFs for Bitcoin.</p>

<p>A Bitcoin ETF could greatly increase the value of the currency. But in order for an ETF to be legally established, it must get approval from the SEC.</p>

<p>Curious how SEC acceptance of a Bitcoin ETF may impact price?</p>

<p>Read the headlines like this one:</p>

<p>"As Bitcoin ETF Nears, Analysts Warn of Trading Frenzy" from the <a href="/where-and-how-to-purchase-sell-btc-instantly-with-cash/">Wall Street Journal</a>.</p>

<p>An ETF is an exchange-traded fund, meaning a much larger audience of investors can invest and trade the fund. </p>

<p>As of March 2017, two requests by companies to create a Bitcoin ETF were denied by the Securities Exchange Commission (SEC). </p>

<p>However, as there are still outstanding applications pending, the formation of an ETF could mean big gains for Bitcoin value. </p>

<p>Clearly, <a href="/the-four-bitcoin-exchanges-with-lenient-identity-verification-process/">staying informed about current events and news</a> is important for any Bitcoin miner. Major market fluctuations can occur based on the headlines alone.</p>

<h2>Perception Impacts Price</h2>

<p>Just as the public having access to investing in Bitcoin can impact Bitcoin price, so does public perception.  </p>

<p>The public having a favorable, safe perception of the digital currency drives value. While if the public begins to question the validity of Bitcoin, the price can decrease.</p>

<p>One example of public perception and Bitcoin came in 2013 with the Silk Road crime network.</p>

<p>For those who remember, Silk Road was an online market for drugs.</p>

<p>Silk Road also traded forged documents.</p>

<p>When the F.B.I. busted the network <a href="/localbitcoins-review/">they found sales revenues of more than 9.5 million bitcoins</a>.</p>

<p>At the time, Silk Road was responsible for approximately half of all transactions involving bitcoins. </p>

<p>As some people then started to associate Bitcoin with crime, this type of news can impact Bitcoin price.</p>

<p>Public perception of price is important to consider when investing in Bitcoin. </p>

<h2>Acceptance Impacts Bitcoin Price</h2>

<p>Just as public perception impacts price, the more people who accept Bitcoin lifts the value of the currency.</p>

<p>The more investors, the more likely wider acceptance </p>

<p>As venture capitalists bet on Bitcoin they will likely also work hard to promote and increase of Bitcoin price. They have a vested interest in Bitcoin going up in value. </p>

<p>But acceptance from large financial institutions and corporations also impacts the price. </p>

<p>Some of <a href="/re-invention-of-the-global-supply-chain-through-blockchain/">the world’s largest financial institutions have started adopting</a> the same technology Bitcoin uses.</p>

<p>This technology, a network infrastructure called a blockchain is replacing one of the central databases of the Depository Trust and Clearing Corporation (D.T.C.C.).</p>

<p>This database is used by the largest banks in the world.</p>

<p>IBM will lead the project for the D.T.C.C. The project is expected to be fully functioning by early 2018.</p>

<h2>Shifts in the Global Economy</h2>

<p>Acceptance by institutions affects Bitcoin price. So does the acceptance of people from different countries. The instability of global markets and politics can have a major impact on Bitcoin price. </p>

<p>In addition, the instability of global markets and politics can have a major impact on Bitcoin price.</p>

<p>Take for example: </p>

<ul>
<li>The volatile economic climate in Venezuela where the <a href="/fintech-will-be-merged-sooner-than-we-think-bitcoin-etf/">government actually outlawed its own currency in 2016</a>.</li>
<li><a href="/blockchain-use-to-allow-faster-overseas-remittance/">India's decision to ban large currency</a> in an attempt to curb crime.</li>
<li><a href="/rich-famous-bitcoin/">European isolationism and the recent US Presidential election</a> have also given world markets increasing uncertainty.</li>
</ul>

<p>Many economic experts note this trend toward lack of government trust and national isolationism as a problem for the global economy. As Bitcoin is an international currency it offers a stable possible solution. </p>

<p>This offer of a solution can increase Bitcoin price.</p>

<h2>The Role of China</h2>

<p>But cataclysmic events don't have to happen in the global economy to effect Bitcoin price. </p>

<p>One example is the wide acceptance in China of bitcoin. This foundation has given boosts to the price as well as for the international acceptance of the security.</p>

<p>As China is an international powerhouse in terms of population and economic power the country's wide use of Bitcoin helps overall value.</p>

<h2>China Bitcoin Facts</h2>

<p>If you need to understand <a href="/ten-reasons-hire-bitcoin/">the role of China in impacting Bitcoin price</a> take a look at the facts:</p>

<ul>
<li>At one point in 2016 more than 70 percent of the transactions on the Bitcoin network were processed through just four Chinese companies.</li>
<li>These Bitcoin mining pools are a powerful force in Bitcoin politics.</li>
<li>This volume of activity gives Chinese investors veto power over changes to Bitcoin software and technology.</li>
<li>Chinese concerns have major investments in server farms.</li>
<li>For a portion of 2016, 42 percent of all Bitcoin transactions were performed in China.</li>
<li>Chinese internet company Baidu joined with three banks to invest in an American Bitcoin company.</li>
</ul>

<p>Some critics fear that this level of concentration in China dilutes the currency's ability to act in a truly international way. Others see heavy Chinese investments and interest as a sign of stability.</p>

<p>But in the world economy, the fact that there is so much uncertainty has led some experts to believe a more stable, international solution is preferable. </p>

<p>Bitcoin is an easily transferable, portable, international solution.</p>

<p>Part of the appeal of Bitcoin is its ability to provide a more reliable alternative to traditional currencies and financial networks. <a href="/the-seven-network-effects-of-bitcoin/">Although other critics exist</a> who still question using Bitcoin at all.</p>

<h2>Expert Opinions </h2>

<p>You can probably tell, there are some who believe in Bitcoin as a great investment, and others who think Bitcoin is little more than an investing fad.</p>

<p>But as more experts support using Bitcoin as currency, the more price can increase. Just as increases in investment capital, fluctuations in the global economy, and a small supply impact price, the opinion of economic experts does as well.</p>

<p>However, just as with venture capitalists and billionaire investors, expert opinions can be biased. They know their public opinion drives up Bitcoin price. </p>

<h2>Get Mining!</h2>

<p>Then again, if the venture capitalists and experts are betting on Bitcoin, shouldn't you?Now that you've got the techniques down for understanding and predicting changes in the price of Bitcoin you're ready to begin .</p>

<p>Now that you've got the techniques down for understanding and predicting changes in the price of Bitcoin you're ready to begin.    </p>

<p>Knowing how different trends in the global economy, investments, and acceptance impacts possible price surges means you stand to make a bundle when it comes to Bitcoin mining.</p>

<p>Watch the news, take account of the market fluctuations, and study the technology trends, and you and Bitcoin could have a very happy relationship together.</p>

<p>Not sure how to get started? We've got you covered.</p>

<p>Click here to find out everything you need to <a href="/en/getting-started/">get started with Bitcoin Mining!</a></p>
