---
layout: default
title: 5 Easy Steps To Get Bitcoins and Learning How To Use Them
description: Getting bitcoins can seem daunting. Follow these five easy steps to learn exactly what to do when getting started with Bitcoin.
toc:
  getting-started: "Get Started With Bitcoin"
  how-to-get-a-bitcoin-wallet: "Get a Bitcoin wallet"
  best-bitcoin-wallets: "Best Bitcoin Wallets"
  how-to-get-bitcoins: "How to Get Bitcoins"
  how-to-earn-bitcoins: "How to Earn Bitcoins"
  what-is-bitcoin-mining: "What is Bitcoin mining?"
  bitcoin-merchant-directories: "Merchant Directories"
  promotional-images: "Promotional Images"
  spending-bitcoins: Spending Bitcoins
  bitcoin-news: Bitcoin News
---

{% include page-toc.html %}

<p>Many people ask, 'How do I get bitcoins?' The quick and dirty is covered in our comprehensive guide: <a href="/en/how-buy-bitcoins-online-best-bitcoin-exchange-rate-bitcoin-price/">40+ Best Ways To Buy Bitcoins</a>
<p>The easiest and fastest way to buy bitcoins instantly with a credit card or debit card is via <a href="http://geni.us/indacoin">Indacoin</a> where you can acquire $50 or less of bitcoin fast and usually within 10 minutes.
<p>However, you may be new to the entire cryptocurrency concept and for that we recommend you learn a few things.
<p>Bitcoin is extremely empowering but also different than the currency you know and use every day.

<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<h2 id="getting-started"><b>Step 1</b> ---> Get Started With Bitcoin</h2>
<p>Before you start using Bitcoin, which is still experimental but has been operational without any interruptions for over eight years, there are a few things that you need to know in order to use it securely and avoid common pitfalls.
<p><b>First</b>, Bitcoins are impossible to counterfeit or inflate.
<p><b>Second</b>, you can use them to send or receive any amount of money, with anyone, anywhere in the world, at very low cost. Bitcoin payments are impossible to block, and bitcoin wallets can’t be frozen.
<p><b>Third</b>, with Bitcoin you can directly control the money yourself without going through a third party like a bank or Paypal.
<p><b>Fourth</b>, Bitcoin transactions cannot be reversed or refunded. You should only deal with businesses or people you trust.
<p><b>Fifth</b>To be valid, a Bitcoin transactions must be confirmed at least once but preferrably 6+ times before it has happened and becomes irreversible.
<p><b>Sixth</b>, Bitcoin is not anonymous but there is <a href="/tumbling-bitcoins-is-a-path-through-the-rinse-cycle/">tumbling</a>. All Bitcoin transactions are stored publicly and permanently on the network, which means anyone can see the balance and transactions of any Bitcoin address.
<p><b>Seventh</b>, you can get bitcoins by accepting them as a payment for goods and services or by buying them from a friend or someone near you. You can also buy them directly from an exchange with your bank account.
<p><b>Eighth</b>, there is a growing number of services and merchants accepting Bitcoin all over the world. You can use Bitcoin to pay them and rate your experience to help honest businesses to gain more visibility.
<p><b>Ninth</b>, the Bitcoin industry is always changing and there are many Bitcoin news services to stay up to date.
<p><b>Tenth</b>, beware of the confusingly similar <a href="/bcash-hard-fork/">Bcash, BCH, Bitcoin Cash</a> project.

<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<h2 id="how-to-get-a-bitcoin-wallet"><b>Step 2</b> ---> How To Get A Bitcoin Wallet</h2>

<p>Setting up your first Bitcoin wallet is simple. There are several quality <a href="#mobile">mobile</a>, <a href="#best-bitcoin-wallets">desktop</a>, and <a href="#hybrid">hybrid wallets available</a>. If you want to do thorough research then you can read our comprehensive guide on <a href="/en/find-the-best-bitcoin-wallet/">how to find the best Bitcoin wallet</a>.</p>
<p>A great path would be:
<p><b>(1)</b> a mobile wallet like Airbitz (iPhone, Android), <a href="http://geni.us/copay">CoPay</a> (iPhone, Android) or Mycelium (Android).
<p><b>(2)</b> acquire bitcoins from a friend, as <a href="/en/getting-started/#how-to-earn-bitcoins">payment for a good or service</a> or <a href="/en/how-buy-bitcoins-online-best-bitcoin-exchange-rate-bitcoin-price/">buy bitcoins from one of the many exchanges</a>.
<p><b>(3)</b> if you decide to store large amounts of bitcoins and want to know they are absolutely safe then use Armory.</p>

<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<img src="/images/bitcoinicons/wallet.png" class="bitcoin-icon pull-right" alt="wallet"/>

<h3 id="mobile">Best Mobile Bitcoin Wallets</h3>

<p>iPhone and Android apps are available with popular choices including:</p>

{% for wallet in site.data.wallets %}
{% if wallet.tags contains 'mobile' and wallet.tags contains 'start' %}
{% include wallet_list.html %}
{% endif %}
{% endfor %}

<p><h3 id="best-bitcoin-wallets">Best Bitcoin Software Wallets</h3>
<p>Bitcoin software wallets are downloaded to your computer, give you more control and do not depend on third-party services. Most software bitcoin wallets require a day or so to download the blockchain before they are ready for use.</p>

{% for wallet in site.data.wallets %}
{% if wallet.category == 'desktop' and wallet.tags contains 'start' %}
{% include wallet_list.html %}
{% endif %}
{% endfor %}

<p><h3 id="hybrid">Best Hybrid Bitcoin Wallets</h3>
<p>Hybrid Bitcoin allow you to both control the private keys and have the easy of use of a web wallet.</p>

{% for wallet in site.data.wallets %}
{% if wallet.tags contains 'hybrid' and wallet.tags contains 'start' %}
{% include wallet_list.html %}
{% endif %}
{% endfor %}

<p><h3>Best Bitcoin Web Wallets</h3>
<p>Bitcoin web wallets are the easiest and most convenient to use but are potentially less secure than the above options because the private keys to your bitcoins are usually held by a third-party.
<p>Due to the large number of security breaches where people have lost bitcoins, we do not recommend any of the current Bitcoin web wallets. A wallet like <a href="https://copay.io/">Copay</a> can be used on mobile & desktop. It provides the benefits of a software wallet and is easy to use across many devices. Copay also helps you securely share wallets with other people.

<h3>Best Bitcoin Hardware Wallets</h3>
<p>Bitcoin hardware wallets are the most secure because they do not expose your private keys to the network.</p>
<ul>
<li><a href="http://geni.us/ledger">Ledger Wallet</a> - Smartcard based and malware proof</li>
<li><a href="/bitcoin-ledger-wallet-review/">Ledger Wallet Review</a></li>
<li><a href="https://www.opendime.com">OPENDIME</a> - The Bitcoin Credit Stick</li>
<li><a href="https://medium.com/@beautyon_/exquisite-opendime-ad1195a2790e">OPENDIME Review</a></li>
</ul>

<hr style="width: 100%; margin: 20px 0; color: #eee;" />

<img src="/images/bitcoinicons/coins.png" class="bitcoin-icon pull-right" alt="wallet"/>

<h2 id="how-to-get-bitcoins"><b>Step 3</b> ---> How To Get Bitcoins</h2>
<p><h3>How to buy Bitcoins</h3>
<p>With the <a href="/en/bitcoin-price/">Bitcoin price</a> so volatile many people seem curious about getting some. Below we have listed some of the best exchanges.
<p>If you want to do your own research then check <a href="/en/how-buy-bitcoins-online-best-bitcoin-exchange-rate-bitcoin-price/">our guide on how to buy bitcoins in any country</a>.  Here are our recommendations:</p>

<p>
{% for exchange in site.data.buy %}
{% if exchange.getting_started %}
{% include buy-list.html %} 
{% endif %}
{% endfor %}
</p>

<p><h3 id="how-to-earn-bitcoins">How To Earn Bitcoins</h3>
<p>Many people find that the best way to get bitcoins is to accept them as payment for the products or services they already sell.  Just give your customers the option to pay in bitcoin.</p>
<p>To make it easy, you may want to sign up for a bitcoin merchant account which allows you to send invoices and integrate bitcoin payments into your order pages for the most popular online shopping cart systems.</p>
<ul>
<li><a href="/en/get-free-bitcoins/">WeUseCoins Bitcoin Faucet</a>  -  Get free bitcoins that are provided by sponsors</li>
<li><a href="https://bitpay.com/">BitPay</a>  -  (Highly Recommended)  -  Merchant tools and account services</li>
<li><a href="http://www.reddit.com/r/Jobs4bitcoins">Jobs 4 Bitcoin</a>  -  Subreddit where you can find jobs</li>
</ul>

<img src="/images/bitcoinicons/mining.png" class="bitcoin-icon pull-right" alt="wallet"/>

<p><h3 id="what-is-bitcoin-mining">What Is Bitcoin Mining?</h3>
<p>Mining bitcoins requires an investment in specialized bitcoin mining hardware designed to process double round sha256 hash verifications at high speed.
<p>Getting started with Bitcoin mining can be a daunting endeavor and it has become highly specialized so you may want to leave it to professionals with <a href="https://www.bitcoinmining.com/best-bitcoin-cloud-mining-contract-reviews/">Bitcoin cloud mining services</a>.
<p>Nevertheless, there are many excellent bitcoin mining systems available.</p> 

<p><em>It is important to point out that bitcoin mining is highly competitive and risky for would-be participants</em>.  Please see our <a href="/en/mining-guide">bitcoin mining</a> guide for more detail.
<p>If you want to try your luck at bitcoin mining then this <a href="http://geni.us/3i0s">Bitcoin miner</a> is probably the best deal. </p>

<hr style="width: 100%; margin: 20px 0; color: #eee;" />

<img src="/images/bitcoinicons/use.png" class="bitcoin-icon pull-right" alt="wallet"/>

<h2><b>Step 4</b> ---> How To Use Bitcoins?</h2>
<p>Starting to use bitcoins can be exciting because it is a new technology. Bitcoins can be used to <a href="/what-can-you-buy-with-bitcoin/">purchase just about anything you want</a>.  Dental services, a brand new car, travel and even luxury real estate.</p> 

<p>We recommend searching the Bitcoin merchant directories below to locate the merchants you are interested in.  You can buy gift cards with bitcoin and shop easily at most of the stores you already use.</p>

<p><h3 id="bitcoin-merchant-directories">Bitcoin Merchant Directories</h3>
<ul>
<li><a href="http://geni.us/airbitz">Airbitz</a>  -  Find bitcoin friendly merchants near you and online</li>
<li><a href="/openbazaar-guide/">Open Bazaar</a>  -  A decentralized marketplace</li>
<li><a href="http://coinmap.org/">Coinmap</a>  -  Find bitcoin friendly merchants near you</li>
<li><a href="http://geni.us/purseio">Purse.io</a>  -  Get discounts greater than 20% on Amazon.com</li>
</ul>
<p>One of the best things to buy with Bitcoin is virtual private network (VPN) services to keep your Internet traffic safe, secure and private. We put together a comprehensive list of <a href="/bitcoin-vpns/">VPNs you can buy with Bitcoin</a>.
<p>Another tool many people like to buy is a <a href="/bitcoin-debit-cards/">Bitcoin debit card</a> which enables people to load a debit card with funds via bitcoins.
<p><h3 id="promotional-images">Promotional Images</h3>
<p>Are you a merchant or freelancer that would want to start accepting bitcoins for goods or services? We have a few high resolution graphics that can help you.
<p>So this is exactly the typical sign as you can also find on the <a href="https://en.bitcoin.it/wiki/Promotional_graphics">Bitcoin Wiki</a>.
<p>Just that it is in fully scalable PSD form so even blowing it up to huge printable resolutions will do no harm to them. And you can edit them easily.
<p>All images have transparent corners.
<center><a href="/images/promotional-images/bitcoin-accepted-here_-_medium-700px.png"><img src="/images/promotional-images/bitcoin-accepted-here_-_medium-700px.png" width="700" height="267" alt="Bitcoin Accepted here"/></a></center>
<ul>
<li><a href="/images/promotional-images/bitcoin-accepted-here.psd">Full PSD</a></li>
<li><a href="/images/promotional-images/bitcoin-accepted-here_-_big-1680px.png">1,680 pixels - High resolution</a></li>
<li><a href="/images/promotional-images/bitcoin-accepted-here_-_small-168px.png">168 pixels - Small for website buttons</a></li>
</ul>

<h3>Gold Version</h3>
<p>A bit more exciting. Same deal: PSD and resolutions available with no copyrights to worry about by using and modifying an existing coin design. Scaling the PSD up more than 500% is fine but after that it may get blurry.
<center><a href="/images/promotional-images/bitcoin-accepted-here_-_gold-medium-700px.png"><img src="/images/promotional-images/bitcoin-accepted-here_-_gold-medium-700px.png" width="700" height="267" alt="Bitcoin Accepted here - Gold" class /></a></center>
<ul>
<li><a href="/images/promotional-images/bitcoin-accepted-here_-_gold.psd">Full PSD</a></li>
<li><a href="/images/promotional-images/bitcoin-accepted-here_-_gold-big-1680px.png">1,680 pixels - High resolution</a></li>
<li><a href="/images/promotional-images/bitcoin-accepted-here_-_gold-small-168px.png">168 pixels - Small for website buttons</a></li>
</ul>

<p><h3 id="spending-bitcoins">Buy Gift Cards With Bitcoins</h3>
<p>Available from Gyft and spendable at:
<ul>
<li><a href="https://www.gyft.com/buy-gift-cards/amazon-com/">Amazon</a></li>
</ul>

<p><h3>Charity</h3>
<ul>
<li><a href="http://bitgivefoundation.org/">BitGive</a> - a non-profit foundation that is accepting donations from the Bitcoin community and providing charitable gifts to environmental and public health causes worldwide.</li>
</ul>

<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<h2 id="bitcoin-news"><b>Step 5</b> ---> Staying Informed With Bitcoin News</h2>
<p>Michael Casey and Paul Vigna of the Wall Street Journal authored <a href="http://geni.us/agecryptocurrency">The Age of Cryptocurrency</a> which has become a best seller on the topic of Bitcoin.
<p>This may be a great book for you to start with when forming an intellectual foundation on this new technology.
<p>There is the <a href="/news/">WeUseCoins News Section</a> and these are the 5 most recent articles:
  <ul>
    {% for post in site.posts limit:10 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
<p>Here are some good places to keep up with bitcoin news and discussion:</p>
<ul>
<li><a href="/rich-famous-bitcoin/">Opinions of the Rich and Famous on Bitcoin</a></li>
<li><a href="/en/research-library/">Research Library</a> - papers from companies and academics</li>
<li><a href="http://www.reddit.com/r/bitcoin">r/bitcoin</a>  -  Bitcoin links and discussion by the Reddit community</li>
<li><a href="http://www.bitcoincharts.com">Bitcoin Charts</a> - price charts</li>
<li><a href="http://www.bitcoin.kn">Bitcoin Knowledge Podcast</a> - Interviews with top people in the Bitcoin world</li>
</ul>
