table {
  &.research-library {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 15px;

    thead {
      th {
        border-bottom: 2px solid #303030;
      }

      th:first-child {
        text-align: left;
        width: 70%;
      }

      th:last-child {
        text-align: right;
      }
    }

    tbody {
      tr {
        opacity: 0.9;

        .description {
            max-height: 0px;
            overflow: hidden;
            margin: 0;
            transition: max-height 0.5s, margin 0.5s;
        }

        td {
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        td:nth-child(2) {
          text-align: center;
        }

        td:last-child {
          text-align: right;
          white-space: nowrap;
        }

        &:hover {
          opacity: 1;
          color: #000;

          .description {
            max-height: 350px;
            margin: 15px 0;
          }
        }
      }
    }
  }
}
