---
layout: page
---
{% assign person = site.data.people[page.person] %}

{% if page.img or person.position %}
<div class="person-info">
{% if page.img %}
	<div class="person-img-wrap">
		<img src="{{ page.img }}" alt="{{ page.title }}">
	</div>
{% endif %}
<div class="person-details">
	{% if person.position != null %}<p><span>Position</span>: {{ person.position }}</p>{% endif %}
	{% if person.education != null %}<p><span>Education</span>: {{ person.education }}</p>{% endif %}
	{% if person.twitter != null %}<p><span>Twitter</span>: <a href="https://twitter.com/{{ person.twitter }}">@{{ person.twitter }}</a></p>{% endif %}
	{% if person.github != null %}<p><span>GitHub</span>: <a href="https://github.com/{{ person.github }}">@{{ person.github }}</a></p>{% endif %}
</div>
</div>
{% endif %}

{{ content }}

{% for post in site.posts %}
	{% if post.author == page.title %}
		{% assign hasPosts = true %}
		{% break %}
	{% endif %}
{% endfor %}

{% if hasPosts %}
	<h2>Bitcoin articles by or related to {{ page.title }}</h2>
	<ul>
		{% for post in site.posts %}
			{% if post.author == page.title %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}

{% for pageBy in site.pages %}
	{% if pageBy.author == page.title %}
		{% assign hasPages = true %}
		{% break %}
	{% endif %}
{% endfor %}

{% if hasPages %}
	<h2>Pages by or related to {{ page.title }}</h2>
	<ul>
		{% for pageBy in site.pages %}
			{% if pageBy.author == page.title %}
				<li><a href="{{ pageBy.url }}">{{ pageBy.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}